.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.accountMenuMobile{
  display: none;
}

.about_us_heading{
  margin-bottom: 10px!important;
}

/* .categories_navlinks{
  overflow-x: scroll;
} */

@media (max-width: 991px){
  .categories_navlinks{
    overflow-x: scroll;
  }
  .contactform{
    width: 100%!important;
  }
  .locationFilterSearch{
    width: 100%!important;
    margin-top: 20px;
  }
  .searchField{
    margin-top: 20px;
  }
  .accountMenuDesktop{
    display: none;
  }
  .accountMenuMobile{
    display: block;
    margin-top: 20px;
  }
  .mobile-hidden{
    display: none!important;
  }
}

@media (max-width: 768px){
  .categories_navlinks{
    overflow-x: scroll;
  }
  .contactform{
    width: 100%!important;
  }
  .locationFilterSearch{
    width: 100%!important;
    margin-top: 20px;
  }
  .searchField{
    margin-top: 20px;
  }
  .accountMenuDesktop{
    display: none;
  }
  .accountMenuMobile{
    display: block;
    margin-top: 20px;
  }
  .mobile-hidden{
    display: none!important;
  }
}

@media (max-width: 480px){
  .categories_navlinks{
    overflow-x: scroll;
  }
  .contactform{
    width: 100%!important;
  }
  .locationFilterSearch{
    width: 100%!important;
    margin-top: 20px;
  }
  .searchField{
    margin-top: 20px;
  }
  #basic-menu{
    width:100vw!important;
  }
  .accountMenuDesktop{
    display: none;
  }
  .accountMenuMobile{
    display: block;
    margin-top: 20px;
  }
  .mobile-hidden{
    display: none!important;
  }
  .MuiPaper-root {
    width: 50%!important;
    padding: .5rem;
    left: 200!important;
    margin-left: 200px!important;
    right: 10px!important;
  }
  .mobile-left{
    margin-left: -50px!important;
  }
  .about_us_heading{
    margin-top: 20px!important;
  }
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
